// ¬ключение в файл RC ресурсов, первоначально расположенных в отдельных файлах
// идентификатор вид_ресурса тип_загрузки тип_пам€ти им€_файла
// RCDATA - определЄнный пользователем тип ресурса

inpout32_DLL RCDATA inpout32.dll


